.sideBar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 630px;
  width: 150px;
  border-right: blue;
  float: left;
}
.sideBar_item{
  cursor: pointer;
  padding: 8px  10px;
  font-size: 18px;
}
.sideBar a {
  color: blueviolet;
}
