<app-side-bar></app-side-bar>
<div class="container">
  <div class="text-center">
    <section class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search..."/>
        </div>
      </div>
      <div *ngFor =" let user of users">
        <div class="discussion message-active" routerLink="/chat/{{user.username}}" routerLinkActive="active">
          <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name" routerLink="/profile/{{user.username}}" routerLinkActive="active"> {{user.firstName}} {{user.lastName}}</p>
            <p class="message">??????????????????????????</p>
          </div>
          <div class="timer">12 sec</div>
        </div>
      </div>

      <div class="discussion message-active">
        <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
          <div class="online"></div>
        </div>
        <div class="desc-contact">
          <p class="name">Megan Leib</p>
          <p class="message">9 pm at the bar if possible 😳</p>
        </div>
        <div class="timer">3 min</div>
      </div>
    </section>
  </div>
</div>
